<p>
  <mat-toolbar>
    <span>KEEP</span>
  </mat-toolbar>
</p>

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
Note
      </mat-panel-title>
    </mat-expansion-panel-header>
  
      <form #regForm="ngForm" (onSubmit)="onSubmit(regForm)">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput [(ngModel)]="p.title" name="title"  #title="ngModel">
        </mat-form-field>
        <mat-form-field >
          <mat-label>text area</mat-label>
          <textarea matInput ngModel
          name="text"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                    [(ngModel)]="p.text" #text="ngModel"></textarea>
        </mat-form-field>
        <button mat-button color="primary">Primary</button>
      </form>
    
  </mat-expansion-panel>
</mat-accordion>

